.education-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    
    img {
        max-width: 300px; /*Original width of smallest image: KYU logo*/
        height: auto;

        cursor: pointer;
    }
}
