.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: 1fr;
    justify-items: center;

    /*Prevents content cverflow out of container*/
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    text-align: left;

    h3, .github-reference {
        grid-column: 1 / span max;
    }
}