.background {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;

    background-color: black;
}

.background img {
    display: block;
    width: 100%;
    object-fit: cover;

    opacity: 0.75;
}